* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin-right: 40px;
}

.navbar ul li a {
    margin-right: 50px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    border-bottom: 2px white solid;
}

.container {
    font-size: 30px;
    font-weight: 600;
    margin-left: 80px;
}

.showcase {
    height: 400px;
    background-color: blue;
    color: white;
    position: relative;
}

.showcase-text h2 {
    font-size: 40px;
}

.showcase-text p {
    font-size: 25px;
    margin: 20px 0;
    font-weight: 300;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
}

.showcase a {
    text-decoration: none;
    color: white;
    border: 1px white solid;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 15px;
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -90px;
    right: 0;
    left: 0;
    background-color: white;
    transform: skewY(-3deg);
}

.showcase-form .form-control {
    margin: 20px 0;
}

.showcase-form input {
    border: 0;
    border-bottom: 1px solid rgb(68, 68, 68);
    width: 100%;
}

.showcase-form input:focus {
    outline: none;
}

.form-button {
    display: inline-block;
    background-color: rgb(51, 51, 255);
    border: none;
    border-radius: 5px;
    color: white;
    width: 20%;
    cursor: pointer;
    padding: 10px 10px;
}

.card {
    color: rgb(56, 56, 56);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.87);
    width: 80%;
    padding: 20px;
    margin: 10px;
}

#form-button {
    padding: 3px 5px;
}

.showcase .grid {
    grid-template-columns: 55% 45%;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.stats {
    margin-top: 200px;
}

.stat-menu {
    display: flex;
    justify-content: space-evenly;
}

.stat-menu #bi1,
#bi3 {
    margin-left: 50px;
}

.stat-menu #bi2 {
    margin-left: 30px;
}

.cli {
    margin: 150px 100px;
}

.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid>*:first-child {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}

.cli img {
    width: 500px;
}

.hosting {
    background: blue;
    color: white;
    line-height: 2.5rem;
    padding: 50px 0;
    font-size: 20px;
}

.hosting .grid {
    grid-template-columns: 4fr 3fr;
}

.hosting button {
    background-color: rgba(20, 20, 20, 0.747);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    color: white;
}

.hosting img {
    width: 500px;
}

.languages img {
    width: 100px;
}

.languages .card {
    width: 150px;
    text-align: center;
    margin: 18px 10px 40px 10px;
}

.languages .card:hover {
    transform: translateY(-15px);
    transition: .3s;
}

footer {
    background-color: rgb(0, 0, 31);
    color: white;
}

footer h1 {
    font-size: 40px;
}

footer p {
    font-size: 20px;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

footer nav {
    display: flex;
    justify-content: space-evenly;
}

footer nav .social {
    margin-top: 30px;
    cursor: pointer;
}